.navbar{
    height:70px;
    background:#0F172A;
    border-bottom:1px solid #1E293B;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;

    position:sticky;
    top:0;
    z-index:100;

    margin-left:260px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:700;
}

.search{
    display:flex;
    align-items:center;
    background:#1E293B;
    padding:10px 16px;
    border-radius:12px;
    width:350px;
}

.search input{
    border:none;
    outline:none;
    background:none;
    color:white;
    width:100%;
    margin-left:10px;
}

.search-icon{
    color:#94A3B8;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.nav-icon{
    color:white;
    font-size:22px;
    cursor:pointer;
}

.user-info{
    display:flex;
    align-items:center;
    gap:12px;
}

.user-avatar{
    font-size:38px;
    color:#3B82F6;
}

.user-info h4{
    color:white;
    margin:0;
    font-size:14px;
}

.user-info p{
    color:#94A3B8;
    margin:0;
    font-size:13px;
}