.page-title{

font-size:36px;

font-weight:700;

margin-bottom:30px;

}

.portfolio-summary{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.summary-card{

background:#0f172a;

border:1px solid #1e293b;

border-radius:20px;

padding:28px;

display:flex;

gap:20px;

align-items:center;

transition:.3s;

}

.summary-card:hover{

transform:translateY(-6px);

}

.summary-card svg{

font-size:30px;

color:#3B82F6;

}

.summary-card h4{

color:#94A3B8;

margin-bottom:8px;

}

.summary-card h2{

font-size:28px;

}

.summary-card p{

margin-top:5px;

color:#94A3B8;

}

.positive{

color:#16A34A;

}

.negative{

color:#DC2626;

}
.holdings-card{

margin-top:35px;

background:#0f172a;

border:1px solid #1e293b;

border-radius:20px;

padding:25px;

}

.holdings-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.holdings-header span{

color:#94A3B8;

}

.holdings-table{

width:100%;

border-collapse:collapse;

}

.holdings-table th{

padding:16px;

text-align:left;

border-bottom:1px solid #1e293b;

color:#94A3B8;

font-size:14px;

}

.holdings-table td{

padding:16px;

border-bottom:1px solid #1e293b;

}

.holdings-table tbody tr:hover{

background:#111c2d;

}

.empty-state{

text-align:center;

padding:30px;

color:#94A3B8;

}
.add-holding{

margin:30px 0;

padding:25px;

background:#0f172a;

border-radius:20px;

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:15px;

}

.add-holding h2{

grid-column:1/-1;

}

.add-holding input,
.add-holding select{

padding:12px;

border-radius:10px;

border:1px solid #1e293b;

background:#020617;

color:white;

}

.add-holding button{

background:#2563EB;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

padding:12px;

}

.add-holding button:hover{

background:#1D4ED8;

}
.allocation-card{

margin-top:35px;

padding:25px;

background:#0f172a;

border-radius:20px;

border:1px solid #1e293b;

}