.sidebar{
    width:260px;
    height:100vh;
    background:var(--sidebar);
    position:fixed;
    left:0;
    top:0;
    border-right:1px solid var(--border);
    padding:24px 18px;
    display:flex;
    flex-direction:column;
}

.sidebar-logo{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:45px;
}

.sidebar-logo-icon{
    width:50px;
    height:50px;
    border-radius:14px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,var(--primary),var(--secondary));
    font-size:22px;
}

.sidebar-logo h2{
    color:var(--text);
    font-size:20px;
    margin:0;
}

.sidebar-logo span{
    color:var(--muted);
    font-size:12px;
}

.sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
    flex:1;
}

.sidebar-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-radius:14px;
    margin-bottom:10px;
    color:var(--muted);
    cursor:pointer;
    transition:.3s;
}

.sidebar-item:hover{
    background:var(--card);
    color:white;
    transform:translateX(6px);
}

.sidebar-item.active{
    background:linear-gradient(135deg,var(--primary),var(--secondary));
    color:white;
}

.logout{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-top:1px solid var(--border);
    color:var(--danger);
    cursor:pointer;
    border-radius:12px;
    transition:.3s;
}

.logout:hover{
    background:rgba(239,68,68,.08);
}